@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./base/normalize";
@import "./components/portfolio_buttons";
@import "./components/upper_logo";
@import "./components/container";
@import "./components/nav";
@import "./components/address";
@import "./components/hero";
@import "./components/advantages";
@import "./components/studio_products";
@import "./components/team";
@import "./components/social";
@import "./components/portfolio_products";
@import "./components/clients";
@import "./components/footer";
@import "./components/modal_form";






body {
    background-color:$secondary-text-color; 
    font-family:$mainFontFamily;   
}
a{
    text-decoration: none;
}


ul{
    list-style-type: none;   
}





