    $primary-text-color: #212121;
    $secondary-text-color:#ffffff;
    $accent-color:#757575;
    $link-color:#2196f3;
    $buttons-background:#f5f4fa; 
    $social-link-color:#AFB1B8; 
    $footer-background:#2F303A;  
    $border-color:#ECECEC;
    $products-border: 1px solid #EEEEEE;
    $form-border-color:rgba(33, 33, 33, 0.2);
    $hero-gradient:linear-gradient(rgba(47, 48, 58, 0.8),rgba(47, 48, 58, 0.8));
    $transition-cubic:250ms cubic-bezier(0.4, 0, 0.2, 1);
    $mainFontFamily:Roboto, sans-serif; 
    $secondaryFontFamily:Raleway,sans-serif;
    $mainFontSize:14px;
    $main-width:1200px;
    $max-width:1600px;
    