address{
    
    font-style: normal;
    margin-left: auto;
}

                                         //Шапка//
.site-address {
    
  
    margin: 0;
    padding: 0;

    @media screen and (max-width:$mobile-max) {
       margin:60px 0 0 0;
    }
    @media screen and (min-width:$tablet-min){
    margin: 21px  ;
    }
    @media screen and (min-width:$desctop-min){
        display: flex;
        margin: 32px 0 0 305px;
    }
} 

.envelope{
    @media screen and (min-width:$tablet-min){
        margin-bottom: 10px;
    }
    @media screen and (min-width:$desctop-min){
    margin-right: 30px;
    }
}

.address-list{
    
    padding: 0;
}


.address-list{
    color: $accent-color;
    letter-spacing: 0.02em;
    font-style: normal;
    font-weight: 500;
    font-size: $mainFontSize;
    line-height: 1.1px;
    fill:$accent-color;
    @media screen and (max-width:$mobile-max) {
        display: inline-block;
        margin-top: 16px;}
    transition: all $transition-cubic;


    &:hover,
    &:focus{
       color:$link-color;
       fill:$link-color;
   }

}    
 
.icon-envelope{
    margin-right: 10px;
}
.icon-phone{
    margin-right: 10px;
}


 



                       //Футер//
.address{

    margin: 0;
    padding: 0;

    transition: all $transition-cubic;
}
