.container{
   
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 auto;
    
    @media screen and (min-width:$tablet-min){
        width:$tablet-max;
        
    }
    @media screen and (min-width:$desctop-min){
        width: $main-width;
       
    }
    
}