footer{
    line-height: 2; 
   
    
    margin: 0 auto; 

    background-color:$footer-background;  
    color: $secondary-text-color;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: $mainFontSize;
    line-height: 1.1;

    
    padding-bottom: 28px;
   
}
.footer-container{
    
    background-color:$footer-background;
    color: $secondary-text-color;
    font-size: $mainFontSize;
    font-weight: 500;
    letter-spacing: 0.03em;
    
    line-height: 2;
    @media screen and (min-width:$desctop-min){
        display: flex;
        padding:48px 0 24px 0;
        align-items: baseline;
        justify-content: space-between;
    }
    @media screen and (max-width:$mobile-max){
        text-align: center;
    }
    
}

.footer-block{
    padding-top: 60px;
    padding-bottom:60px;
    @media screen and (min-width:$desctop-min){
    padding-right: 69px;
    }
}

.logo{
    font-family: $secondaryFontFamily;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: $secondary-text-color  ;

    
    margin: 0 ;
    transition: all $transition-cubic;
&:hover,
&:focus{
    color: $link-color;
}
}

.subscribe{
    @media screen and (max-width:$mobile-max){
        padding-top: 60px;
    }
}
.footer-input{
    width: 358px;
    height: 50px;
    border-radius: 4px;
    background-color: $footer-background;
    padding: 18px 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    @media screen and (max-width:$mobile-max){
        margin:20px;
    }
    
&:focus{
    color:$secondary-text-color;
}
}

.button-footer{
    position: relative;
    
    background-color: $link-color;
    color: $secondary-text-color;
    font-family: inherit;
    font-weight: 900;  
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    
    margin: 0 ;
    padding: 10px 62px 10px 29px;
    border-radius: 4px;
    border: transparent;

    transition: all $transition-cubic;

&:hover,
&:focus{
    background-color: $primary-text-color;
}   
}



.join{
    text-transform: uppercase;

    @media screen and (min-width:$desctop-min){
        display: flex;
    }
    

    transition: all $transition-cubic;

&:hover,
&:focus{
    color: $link-color;
}
}
.icon-join{
    position: absolute;
    top: 13px;
    left:148px;
   
}



.mail{
    color: rgba(255,255,255, 0.6);
    font-style: normal;

    transition: all $transition-cubic;

&:hover,
&:focus{
    color: $link-color;
}
}
