.backdrop{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 1024px;
    transition:opacity $transition-cubic;
}

.backdrop.is-hidden{
    opacity:0;
    pointer-events: none;
}
.modal{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: transform $transition-cubic;
    width:450px;
    height: 609px;
    background-color: $secondary-text-color;
    letter-spacing: 0.03em;
    color:$accent-color;
    font-weight: 500;
    font-size: $mainFontSize;
    
    @media screen and (min-width:$desctop-min){
        width:528px;
        height: 581px;
    }
    }
    

.backdrop.is-hidden.modal {
    transform: translate(-50%,-50%) scale(0.8);  
}


.icon-close{
   
    position: absolute;
    border-radius: 50%;
    @include border (rgba(0, 0, 0, 0.1));
    width: 30px;
    height: 30px;
    padding: 9px 9px 10px 10px;
    left: 412px;
    bottom: 571px;
    @media screen and (min-width:$desctop-min){
        left: 490px;
        bottom: 543px;
    }

    &:hover,
    &:focus{
        fill: $link-color;
    }

    background-color:$secondary-text-color;
    

}

.form-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
    padding: 40px 40px 0 40px;
    color: $primary-text-color;

}
.form-field{
    position: relative;
}
.form-label{
    position: absolute;
    top: 42px;
    left: 82px;
    transition: all $transition-cubic;

    line-height: 1.1;
    letter-spacing: 0.01em;

    .form-input:focus + &,
    .form-input:not(:placeholder-shown) + &{
    transform: translateY(-32px) translateX(-23px);
    color:$link-color;
    
}
    
}
.form-input{
    @include border($form-border-color);
    border-radius: 4px;
    margin: 28px 40px 0 40px;
    width: 370px;
    height:40px;
    padding-left: 42px;

    @media screen and (min-width:$desctop-min){
        width: 448px;
    } 
    transition: all $transition-cubic;

   &:focus{
        @include border($link-color);
        outline: none;
    }
}



.form-icon{
width:12px;
height: 12px;
position:absolute;
top:44px;
left:59px;


.form-input:focus ~ &{
    fill: $link-color;
   
}
}

.comment{
    
    @include border($form-border-color);
    border-radius: 4px;
    
    width: 370px;
    padding:12px 16px;

    @media screen and (min-width:$desctop-min){
        width: 448px;
    };

   
    letter-spacing: 0.01em;
    color: $accent-color;
    transition: all $transition-cubic;
    

    &:focus{
        @include border ($link-color);
        outline: none;
    
    }
}





.comment-field{
    margin: 28px 40px 0 40px;
}
textarea{
    resize: none;
}
.check{
    padding:20px 40px 30px 35px;

    @media screen and (min-width:$desctop-min){
     padding:20px 51px 30px 51px;
     
    }

}
.policy{
    position: relative;
    
    padding-left: 25px;
    display: block;
    font-size: 12px;
    line-height: 1.2;

    @media screen and (min-width:$desctop-min){
        font-size: $mainFontSize;
        line-height: 1.1; 
    }
}

.icon-square{
    position: absolute;
    left:0;
    bottom:0;

.checkbox:checked ~ &{
   opacity:0;
    
}
}

.icon-check{
    position: absolute;
    left:0;
    bottom:5px;
    opacity:0;

    .checkbox:checked ~ &{
        opacity: 1;
        fill: $link-color;
    }

}
.checkbox{
    -webkit-appearance: none;
    display: block;

}
 

.agreement{
    color: $link-color;
    text-decoration: underline;
}

.send-button{
    color: $secondary-text-color;
    font-size: 16px;
    line-height: 1.9;
    margin: 0;
    padding: 10px 55px;
    border-radius: 4px;
    border: transparent;
    min-width: 200px;
    background-color: $link-color;
    transition: all $transition-cubic;


&:hover,
&:focus{
    background-color: $primary-text-color;
    border: transparent;
}
}

.send{
    text-align: center; 
}
