.social {
    display: flex;
    margin: 0;
    padding: 0 0 24px 0;
    justify-content: center;

&:not(:last-child){
    margin-right: 30px;
}
}



.social-links{
    color:$social-link-color;
    display: flex;
    
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    
    transition: all $transition-cubic;
    

&:hover{
    background-color: $link-color;
    border-radius:50% ;
}

    
.social-footer &:not(:last-child){
    margin-right: 10px;
}

.social-footer &:hover{
    background-color: $link-color;
}

.social-link{
    height: 44px;
    width: 44px;
    position: relative
}
}

.icon-social{
   @extend %social-icon;
   fill:$social-link-color;
    text-align: center;
   

    position: absolute;
    @extend %centered;
    transition: all $transition-cubic;
    


&:hover{
    fill:$secondary-text-color;
   
    
}  
}
.visually-hidden{
    display: none;
  visibility: hidden;
}

                              //Футер//
.social-footer{
    display: flex;
    margin: 20px 0 0 0;
    padding: 0;
    @media screen and (max-width:$mobile-max){
    justify-content: center;
    }
   
}

.icon-footer {
    @extend %social-icon;
    fill: $secondary-text-color;
    
    
}
    
.social-footer .social-links:not(:last-child){
    margin-right: 10px;
}

.social-footer .social-links:hover{
    background-color: $link-color;
}