
@media screen and (max-width:$mobile-max){
    .studio_products{
        display:none;
    }  
    
}


.section{
    letter-spacing: 0.03em;

    padding:0 0 94px 0;
    margin: 0;
}
.section-app{
    display:flex;
    padding: 0 ;
    margin:0;
   

}
.item{
    position: relative;


.section-app > & + &{
    padding: 0;
    margin: 0 0 0 30px;
}
& :first-child{
    padding-left: 0;
}
}

 .section-list {
    color: $secondary-text-color;
    background: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    font-size: $mainFontSize;
    line-height: 1.1;
    letter-spacing: 0.03em;

    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;

    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    transition: all $transition-cubic;



&:hover,
&:focus{
    color: $link-color;
}
}

.section-title {
        color: $primary-text-color;
        font-size: 28px;
        line-height: 1.2;
        text-align: center;


        padding: 94px 0 50px 0;
        margin: 0 auto ;
       
        
        
        @media screen and (min-width:$desctop-max){
            font-size: 36px;  
        }
    
    }