.section-team{
    background-color: $buttons-background;
    
    padding: 0 0 60px 0;
    
    @media screen and (min-width:$desctop-min){
        padding: 0 0 94px 0; 
        margin: 0 auto;
    }
}

.thumb{
    height:320px;
    @media screen and (min-width:$tablet-min){
        height: 260px;
    }
}
.team-names{

line-height: 1.2;
padding: 0  ;
margin: 0 ;
@media screen and (min-width:$tablet-min){
    display: flex;
    flex-wrap: wrap
}
@media screen and (min-width:$desctop-min){
    display: flex;
    justify-content: center;
}
}

.image-team{
display: block;
width: 100%;
height: 100%;
object-fit: cover;
object-position: top;
}

.cards {
width: 450px;
margin: 0 0 30px  0;

box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
@media screen and (min-width:$tablet-min){
    width: 354px;
    &:nth-child(2n+1){
    margin-right: 30px;}
}
@media screen and (min-width:$desctop-min){
    width: 270px;
    margin: 0 30px 0 0; 
    padding: 0;
    &:last-child{
        margin: 0;
       }
}



}

.names{

margin: 0;
padding: 30px 0 10px 0;
text-align: center;

font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03;

}
.occupation{
color: $accent-color;
padding: 0 0 16px 0 ;
text-align: center;

margin: 0;

}